{% extends 'store/main.html' %}

{% block content%}

<div class='box-element'>
    <div class='product row'>
        <div class='col-6 '>
            <img class='product-view-box' src='{{product.imageURL}}'></img>
            <div class='ms-2 product-view-box'>
                <p class='h2   '> {{product.name}}</p>
                <hr >
                <ul>
                    <li class='fs-5'>  {{product.feature1}}</li>
                    <li class='fs-5'>  {{product.feature2}}</li>
                    <li class='fs-5'>  {{product.feature3}}</li>
                    <li class='fs-5'>  {{product.feature4}}</li>
                </ul>
            </div>
        </div>
        <div class='col-6'>
            <div class='product-view-box'>
                <h4>Payement Methods</h4>
                <hr/>
                {%if product.digital %}
                <p class='bg-light'> Item is Digital, Online Mode only Available</p>
                <div class="form-check">
                    <input class="form-check-input " type="radio" name="payementMode" id="Online" checked>
                    <label class="form-check-label fs-5" for="Online">
                    Online Payement
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input " type="radio" name="payementMode" id="COD" disabled>
                    <label class="form-check-label fs-5" for="COD">
                    Cash on Delivery
                    </label>
                  </div>
                {% else %}
                <p class='bg-light'> Cash on Delivery Available for this item</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="payementMode" id="Online" checked>
                    <label class="form-check-label fs-5" for="Online">
                    Online Payement
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input disable" type="radio" name="payementMode" id="COD" >
                    <label class="form-check-label fs-5" for="COD">
                    Cash on Delivery
                    </label>
                  </div>
                {% endif %}
            </div>
            <div class='product-view-box'>
                <h5>Item Description</h5>
                <hr/>
                <p class='fs-6'>{{product.description}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}